$fa-font-path: "/public/fonts";

$red: #cc0000;
$orange: #FF470F;
$danger: $orange;

$blue: rgb(54, 55, 149);
$yellow: rgb(240, 209, 44);

$primary: $blue;
$accent: $yellow;

@import "../../node_modules/bulma/bulma.sass";

p {
  margin: 1em 0;
}

.main {
  margin-top: 60px;
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.navbar-animation {
  transition: background-color 0.3s;
}

.is-black {
  a.navbar-phone {
    color: $grey-light;
    &:hover {
      background-color: $black;
      color: $grey-lighter;
    }
  }
}

.navbar-item img {
  max-height: none;
}

.navbar-brand {
  height: 56px;
}

.navbar-logo {
  height: 100%;
  width: 160px;
}

.navbar-end {
  @media (max-width: 1024px) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.navbar-link-icon {
  height: 100%;
  width: 56px;
  max-height: 56px;
  @media (max-width: 400px) {
   padding: 16px 0;
  }
}

.navbar-hidden {
  opacity: 0;
}

.hero {
  background: url("/public/images/jumbotron.jpg") no-repeat center center;
}

.hero-homepage {
  background-size: cover;
}

.hero-button {
  margin-top: 1.5rem;
}

.title.twoliner {
  @media (min-width: 769px) and (max-width: 1600px) {
    min-height: 54px;
  }
}

.advantage-icon {
  height: 4rem;
  width: 4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: $primary;
}

.game-logo {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.has-game-logo {
  max-width: 400px;
  margin: auto;
}

.price-image, .master-image {
  border-radius: 999px;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;

  img {
    height: 100%;
    width: 100%;
  }

  @media (min-width: 460px) {
    height: 450px;
    width: 450px;
  }
}

.customer-photo, {
  height: 64px;
  width: 64px;
  @media (min-width: 769px) {
    height: 128px;
    width: 128px;
  }
  border-radius: 999px;
  overflow: hidden;
}

.customer-review-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.customer-review {
  display: block;
  padding: 1em;
  margin-bottom: 2rem;
  @media (min-width: 900px) {
    max-width: 50%
  }

}

.master-image {
  height: 250px;
  width: 250px;
}

.lang-toggle {
  position: relative;
  text-transform: uppercase;
  min-height: 55px;
}

.lang-select {
  margin: 10px 0;
}

.form-centered {
  max-width: 450px;
  margin: 100px auto 50px auto;
}

.buttons-row {
  .button:not(:last-child) {
    margin-right: 6px;
  }
}

$sidebar-width: 300px;
.admin-body {
  min-width: 1024px;
  .main-area {
    padding: 2rem 2rem 2rem calc(#{$sidebar-width} + 2rem);
  }
}

.sidebar {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  width: $sidebar-width;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);

}

.menu-list {
  padding: 1rem;
}